.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FFA838;
  height: auto;
  padding: 5px;
  color: #222;
}

.App-title {
  font-size: 4em;
}

.App-intro {
  font-size: large;
}

.card-panel {
  padding: 50px;
}

.card-panel div {
  display: inline-block;
  margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
